@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "peyda-noraml" ;
    src: url(../assets/fonts/Peyda/Peyda-Regular.ttf);
}
@font-face {
    font-family: "peyda-bold";
    src: url(../assets/fonts/Peyda/Peyda-Bold.ttf);
}
body{
    /* background-color: #010101; */
    direction: rtl;
    color: white;
}