@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "peyda-noraml" ;
    src: url(../assets/fonts/Peyda/Peyda-Regular.ttf);
}
@font-face {
    font-family: "peyda-bold";
    src: url(../assets/fonts/Peyda/Peyda-Bold.ttf);
}
body{
    /* background-color: #010101; */
    direction: rtl;
    color: white;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: linear-gradient(to bottom, #FFA07A, #FF6347); */

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #C59D5F;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #C59D5F;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}